
.banner-text{
       color:#e2e2e2;
       top:50%;
       left:50%
       postion:absolute;
       transform:transform;
}


.banner{
    background-color: #1e1e1e;
    width:100%;
    height:200px;
}

h1,h2,h3,h4,h5,label,p {
    color:#e2e2e2;
}
.darky{
    background-color: #1e1e1e;
}
.btn-stc{
    --bs-btn-color:#fff;
    --bs-btn-bg:#686c99;
    --bs-btn-active-bg:#34364c;
    --bs-btn-hover-bg:#34364c;
    --bs-btn-active-color:rgb(207, 207, 207);
    --bs-btn-hover-color:rgb(207, 207, 207);
    /*--bs-btn-border-color:#0d6efd;
       
    --bs-btn-hover-border-color:#0a58ca;
    --bs-btn-focus-shadow-rgb:49,132,253;
    
    
    --bs-btn-active-border-color:#0a53be;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#fff;
    --bs-btn-disabled-bg:#0d6efd;
    --bs-btn-disabled-border-color:#0d6efd */
}
input {
    border-radius:5px;
}
.btn-stt{
    --bs-btn-color:#fff;
    --bs-btn-bg:#6f9968;
    --bs-btn-active-bg:#344c34;
    --bs-btn-hover-bg:#344c34;
    --bs-btn-active-color:rgb(207, 207, 207);
    --bs-btn-hover-color:rgb(207, 207, 207);
    /* --bs-btn-border-color:#0d6efd;
       
    --bs-btn-hover-border-color:#0a58ca;
    --bs-btn-focus-shadow-rgb:49,132,253;
    
    
    --bs-btn-active-border-color:#0a53be;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color:#fff;
    --bs-btn-disabled-bg:#0d6efd;
    --bs-btn-disabled-border-color:#0d6efd */
}
